<div id="sms_container">
  <%= form_tag "home/send_sms", :id => 'send_sms_form', :remote => true do -%>
    <%= text_field_tag 'phone_no', 'Enter your mobile number', maxlength: 10, style: "height: 35px" %>
    &nbsp
    <%= submit_tag "Go", style: "height:40px;width:50px;" %>
  <% end %>
</div>

<div id="download_buttons">
  <span id="google_download"><a href="<%= root_path %>"><img src="/assets/app-store-icon.gif", style="width:120px;height:40px"></a></span>
  <span id="iphone_download"><a href="<%= root_path %>"><img src="/assets/google-store-icon2.png", style="width:120px;height:40px"></a></span>
</div>

<div id="about">
  <div id="content_header">About Us</div>
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
</div>

<div id="how_it_works">
  <div id="content_header">How It Works</div>
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
</div>

<div id="contact">
  <div id="content_header">Contact</div>
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
  Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
</div>